<a href="https://colab.research.google.com/github/krahul2024/machine-learning/blob/main/student-performance-analysis/student_performance_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [34]:
#@title Imports and Installations
from google.colab import drive
import openpyxl, pandas as pd
from openpyxl import load_workbook, Workbook
from openpyxl.utils import get_column_letter
drive.mount('/content/MyDrive')
data_dir = 'MyDrive/MyDrive/student-analysis'
%cd {data_dir}

Drive already mounted at /content/MyDrive; to attempt to forcibly remount, call drive.mount("/content/MyDrive", force_remount=True).
/content/MyDrive/MyDrive/student-analysis

In [35]:
#@title Reading the current file
curr_file = '2021-22.xlsx'

In [36]:
# Working on sheets
sheets = pd.read_excel(curr_file, sheet_name = None)
pages = list(sheets.keys())
pages

['INTERACTION-PAGE', 'CO_ATTAINMENT', 'PO_ATTAINMENT']

In [37]:
import math, numpy as np

In [38]:
def is_nan(x_):
  return type(x_) != str and np.isnan(x_)

In [39]:
inter_page = sheets[pages[1]].values.tolist()
interaction_page = []

for row in inter_page:
  nan_count = sum([1 if is_nan(x) else 0 for x in row])
  if nan_count < len(row)-1 :
    interaction_page.append(row)

In [40]:
student_details = []
# We have to get the index where student details starts and ends, start_idx, end_idx
start_idx, end_idx = -1, -1
for i, row in enumerate(interaction_page):
  if type(row[1]) == str and len(row[1]) > 2 and 'csb' in row[1][:3].lower():
    if start_idx == -1 : start_idx = i
    student_details.append([0 if is_nan(x) else x for x in row][:-1])


for x in student_details[5:11]: print(x, end = '\n')

[6, 'csb20029', 'ABHIJNYAN PHUKAN', 0, 0, 0, 0, 0, 0, 0, 1, 8, 0, 0, 2, 20, 3, 0, 0, 0, 3, 5, 4, 5, 40.8, 12.5, 64.86486486, 36.36363636, 33.33333333, 31.25, 35.66236691]
[7, 'csb20031', 'NAYAN JYOTI GOGOI', 0, 0, 0, 0, 0, 0, 0, 0, 7, 0, 0, 1, 20, 1, 0, 0, 0, 1, 6, 5, 4, 36, 6.25, 56.75675676, 31.81818182, 41.66666667, 25, 32.29832105]
[8, 'csb20033', 'SAURAV GOGOI', 0, 0, 0, 0, 0, 0, 1, 1, 8, 0, 0, 2, 20, 2, 0, 0, 1, 2, 8, 2, 5, 41.6, 25, 62.16216216, 40.90909091, 16.66666667, 31.25, 35.19758395]
[9, 'csb20035', 'RAJ RISHI KASHYAP', 0, 0, 0, 0, 0, 0, 1, 1, 8, 1, 0, 0, 20, 2, 0, 0, 3, 5, 8, 4, 3, 44.8, 25, 70.27027027, 40.90909091, 41.66666667, 18.75, 39.31920557]
[10, 'csb20037', 'NISHANT DAS', 0, 0, 0, 0, 0, 0, 2, 2, 9, 0, 0, 1, 20, 0, 0, 0, 0, 3, 7, 4, 4, 41.6, 18.75, 67.56756757, 36.36363636, 33.33333333, 25, 36.20290745]
[11, 'csb20038', 'AKSHAT GUPTA', 0, 0, 0, 0, 0, 0, 1, 0, 7, 0, 0, 1, 20, 3, 0, 0, 2, 1, 4, 2, 3, 35.2, 25, 56.75675676, 31.81818182, 16.66666667, 18.75, 29.79832105]

In [41]:
# Preparing a student dictionary to store all the details of a particular student
tests = ['Test-I', 'Test-II', 'Mid-Term', 'End-Term', 'Total']
course_outcomes = ['CO1', 'CO2', 'CO3', 'CO4', 'CO5']
co_marks = ['Max', 'Obtained']
test_marks = ['Max', 'Obtained', 'Mean', 'Median', 'Max Obtained', course_outcomes]

'''
Roll Number : {
  Name : '',
  Absent Record : True/False,
}
'''

for x in interaction_page[:11]:
  print(x)

[nan, nan, 60, nan, 2, 10, ' Threshold % for CO attainment', nan, nan, nan, nan, nan, nan, 50, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
[nan, nan, 50, nan, 1, 10, 'Please fill "AB" for Absent and "UR" for Unregistered candidate(s)', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]
['Faculty Name:', nan, nan, nan, nan, nan, 'BRANCH', nan, 'Computer Sc. and Engineering', nan, nan, nan, nan, 'Course:', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'DAA', nan, nan, nan, nan, nan, nan]
['Programme:', nan, 'B. Tech', nan, 'YEAR', nan, 'IV', nan, 'SEM', nan, 5, nan, 'Course Code:', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'CO206', nan, 'SESSION', nan, '2021-22', nan, 'II']
[nan, nan, nan, nan, 'Assessment of Test -I', nan, nan, nan, nan, ' Assessment of Test -II', nan, nan, nan, nan, 'Assessment for Mid Term Exam', nan, nan, nan, nan, 'Assessment of End Term Exam', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'III']
['S. No. ', 'Roll No.', 'Name of Student', 'ABSENTEE RECORD', 'Maximum Marks', nan, nan, nan, 0, 'Maximum Marks', nan, nan, nan, 25, 'Maximum Marks', nan, nan, nan, 40, 'Maximum Marks', nan, nan, nan, 60, 'TOTAL', 'CO1', 'CO2', 'CO3', 'CO4', 'CO5', 'ΣCO', 'IV']
[nan, nan, nan, nan, 'CO1', 'CO2', 'CO3', 'CO4', 'CO5', 'CO1', 'CO2', 'CO3', 'CO4', 'CO5', 'CO1', 'CO2', 'CO3', 'CO4', 'CO5', 'CO1', 'CO2', 'CO3', 'CO4', 'CO5', '%', '%', '%', '%', '%', '%', '%', nan]
[nan, nan, 'CO WISE MAXIMUM MARKS', '"AB" or "UR"', 0, 0, 0, 0, 0, 4, 4, 13, 4, 0, 6, 23, 11, 0, 0, 6, 10, 20, 8, 16, 100, 100, 100, 100, 100, 100, 100, nan]
[1, 'csb20020', 'Tapash Talukdar', nan, nan, nan, nan, nan, nan, 1, 1, 8, 0, 0, 0, 20, 1, 0, 0, 0, 3, 3, 1, 2, 32, 6.25, 64.86486486, 27.27272727, 8.333333333, 12.5, 23.84418509, nan]
[2, 'csb20021', 'DIPAK SARMAH', nan, nan, nan, nan, nan, nan, 1, 2, 9, 1, 0, 2, 20, 4, 0, 0, 5, 7, 11, 6, 11, 63.2, 50, 78.37837838, 54.54545455, 58.33333333, 68.75, 62.00143325, nan]
[3, 'csb20023', 'RAJKAMAL SARMA', nan, nan, nan, nan, nan, nan, 0, 0, 7, 0, 0, 0, 20, 0, 0, 0, 2, 2, 3, 2, 0, 28.8, 12.5, 59.45945946, 22.72727273, 16.66666667, 0, 22.27067977, nan]

In [42]:
course_details, max_scores = [],[]

for x in interaction_page[:start_idx-4]:
  course_details.append([x_value for x_value in x if not is_nan(x_value)])

course_details

[[60, 2, 10, ' Threshold % for CO attainment', 50],
 [50,
  1,
  10,
  'Please fill "AB" for Absent and "UR" for Unregistered candidate(s)'],
 ['Faculty Name:', 'BRANCH', 'Computer Sc. and Engineering', 'Course:', 'DAA'],
 ['Programme:',
  'B. Tech',
  'YEAR',
  'IV',
  'SEM',
  5,
  'Course Code:',
  'CO206',
  'SESSION',
  '2021-22',
  'II']]

In [43]:
columns = interaction_page[5:8]
columns[1]

[nan,
 nan,
 nan,
 nan,
 'CO1',
 'CO2',
 'CO3',
 'CO4',
 'CO5',
 'CO1',
 'CO2',
 'CO3',
 'CO4',
 'CO5',
 'CO1',
 'CO2',
 'CO3',
 'CO4',
 'CO5',
 'CO1',
 'CO2',
 'CO3',
 'CO4',
 'CO5',
 '%',
 '%',
 '%',
 '%',
 '%',
 '%',
 '%',
 nan]

In [44]:
cols = columns[0][:4]
cols += [f"{test} {course_outcome}" for test in tests[:-1]  for course_outcome in course_outcomes] + ['Total Marks']
cols += [f"{'Total '} {course_outcome}" for course_outcome in course_outcomes] + ['Mean COs']
cols[3] = 'Absent Record'

max_scores = [x for x in interaction_page[start_idx - 1] if type(x) != str and not is_nan(x)]
max_marks = ['' for _ in range(len(cols) - len(max_scores))] + max_scores

for i, col in enumerate(cols):
  mark = f"(Out of {max_marks[i]})" if type(max_marks[i]) != str else max_marks[i]
  cols[i] = col + mark

len(cols), len(student_details[0]), len(max_marks)

(31, 31, 31)

In [45]:
# creating a dataframe using the given excel file
std_details = pd.DataFrame(student_details, columns = cols).round(1)
std_details.head(10)

,S. No.,Roll No.,Name of Student,Absent Record,Test-I CO1(Out of 0),Test-I CO2(Out of 0),Test-I CO3(Out of 0),Test-I CO4(Out of 0),Test-I CO5(Out of 0),Test-II CO1(Out of 4),...,End-Term CO3(Out of 20),End-Term CO4(Out of 8),End-Term CO5(Out of 16),Total Marks(Out of 100),Total CO1(Out of 100),Total CO2(Out of 100),Total CO3(Out of 100),Total CO4(Out of 100),Total CO5(Out of 100),Mean COs(Out of 100)
0,1,csb20020,Tapash Talukdar,0,0,0,0,0,0,1,...,3,1,2,32.0,6.2,64.9,27.3,8.3,12.5,23.8
1,2,csb20021,DIPAK SARMAH,0,0,0,0,0,0,1,...,11,6,11,63.2,50.0,78.4,54.5,58.3,68.8,62.0
2,3,csb20023,RAJKAMAL SARMA,0,0,0,0,0,0,0,...,3,2,0,28.8,12.5,59.5,22.7,16.7,0.0,22.3
3,4,csb20027,AYUSHMAN GOHAIN,0,0,0,0,0,0,0,...,7,4,2,32.8,0.0,56.8,31.8,33.3,12.5,26.9
4,5,csb20028,DHEERAJ GOGOI,0,0,0,0,0,0,0,...,10,7,10,56.8,37.5,78.4,43.2,58.3,62.5,56.0
5,6,csb20029,ABHIJNYAN PHUKAN,0,0,0,0,0,0,0,...,5,4,5,40.8,12.5,64.9,36.4,33.3,31.2,35.7
6,7,csb20031,NAYAN JYOTI GOGOI,0,0,0,0,0,0,0,...,6,5,4,36.0,6.2,56.8,31.8,41.7,25.0,32.3
7,8,csb20033,SAURAV GOGOI,0,0,0,0,0,0,1,...,8,2,5,41.6,25.0,62.2,40.9,16.7,31.2,35.2
8,9,csb20035,RAJ RISHI KASHYAP,0,0,0,0,0,0,1,...,8,4,3,44.8,25.0,70.3,40.9,41.7,18.8,39.3
9,10,csb20037,NISHANT DAS,0,0,0,0,0,0,2,...,7,4,4,41.6,18.8,67.6,36.4,33.3,25.0,36.2

In [46]:
std_details.head()

,S. No.,Roll No.,Name of Student,Absent Record,Test-I CO1(Out of 0),Test-I CO2(Out of 0),Test-I CO3(Out of 0),Test-I CO4(Out of 0),Test-I CO5(Out of 0),Test-II CO1(Out of 4),...,End-Term CO3(Out of 20),End-Term CO4(Out of 8),End-Term CO5(Out of 16),Total Marks(Out of 100),Total CO1(Out of 100),Total CO2(Out of 100),Total CO3(Out of 100),Total CO4(Out of 100),Total CO5(Out of 100),Mean COs(Out of 100)
0,1,csb20020,Tapash Talukdar,0,0,0,0,0,0,1,...,3,1,2,32.0,6.2,64.9,27.3,8.3,12.5,23.8
1,2,csb20021,DIPAK SARMAH,0,0,0,0,0,0,1,...,11,6,11,63.2,50.0,78.4,54.5,58.3,68.8,62.0
2,3,csb20023,RAJKAMAL SARMA,0,0,0,0,0,0,0,...,3,2,0,28.8,12.5,59.5,22.7,16.7,0.0,22.3
3,4,csb20027,AYUSHMAN GOHAIN,0,0,0,0,0,0,0,...,7,4,2,32.8,0.0,56.8,31.8,33.3,12.5,26.9
4,5,csb20028,DHEERAJ GOGOI,0,0,0,0,0,0,0,...,10,7,10,56.8,37.5,78.4,43.2,58.3,62.5,56.0

In [47]:
%cd
%cd /content
std_details.to_csv('batch_2021_22.csv', index = False)

/root
/content